<div class="border border-red-500 flex justify-center">
    <div class="border border-red-500 w-full p-4 max-w-[1796px] flex justify-between items-center">
        <div>
            <p>Open NPM</p>
        </div>
        <div class="border border-red-500 flex w-1/4 justify-between">
            <div class="p-2 border-b-2 border-black">
                <a routerLink="/build">
                    Build
                </a>
            </div>
            <div class="p-2 border-b-2 border-black">
                <a routerLink="/view">
                    View
                </a>
            </div>
            <div class="p-2 border-b-2 border-black">
                <a routerLink="/validate">
                    Validate
                </a>
            </div>
        </div>
    </div>
</div>