<div>
    <form #form="ngForm" class="space-y-4" (ngSubmit)="this.submit(form)">
        <div class="flex flex-col space-y-2">
            <label for="package-name" class="text-xl font-semibold">Package Name<span
                    class="text-red-500">*</span></label>
            <input type="text" name="package-name" id="package-name" placeholder="Enter package name"
                class="border p-2 rounded-xl text-lg" required [(ngModel)]="this.package.name" #name="ngModel" />
            <div class="text-red-500"
                [ngClass]="{ 'block': name.getError('required') && this.submitted, 'invisible': !name.getError('required') || !this.submitted}">
                Name is required
            </div>
        </div>
        <div class="flex flex-col space-y-2">
            <label for="package-description" class="text-xl font-semibold">Package Description</label>
            <textarea name="package-description" placeholder="Enter package description"
                class="border p-2 rounded-xl text-lg h-1/2 h-40" id="package-description"
                [(ngModel)]="this.package.description"></textarea>
        </div>
        <div class="flex flex-col space-y-2">
            <label for="package-version" class="text-xl font-semibold">Package Version<span
                    class="text-red-500">*</span></label>
            <input type="text" name="package-version" placeholder="Enter package version"
                class="border p-2 rounded-xl text-lg w-fit" [(ngModel)]="this.package.version" #version="ngModel"
                required />
            <div class="text-red-500"
                [ngClass]="{ 'block': version.getError('required') && this.submitted, 'invisible': !version.getError('required') || !this.submitted}">
                Version is required
            </div>
        </div>
        <div class="flex items-center flex-col space-y-4">
            <button type="submit"
                class="hover:bg-[#007733] bg-[#009933] text-white text-xl font-semibold rounded-xl p-2 w-1/2">
                Create Package
            </button>
            <button *ngIf="!this.newInstance" (click)="this.cancelChanges()"
                class="hover:bg-[#007733] bg-[#009933] text-white text-xl font-semibold rounded-xl p-2 w-1/2">
                Cancel Changes
            </button>
        </div>
    </form>
</div>