<div>
    <form class="space-y-4" (ngSubmit)="this.submit(form)" #form="ngForm">
        <h1 class="text-3xl font-bold">Add a Type Description</h1>
        <div class="flex flex-col space-y-2">
            <label for="type-name" class="text-xl font-semibold">Type Name<span class="text-red-500">*</span></label>
            <input type="text" name="type-name" id="type-name" placeholder="Enter type name"
                class="border p-2 rounded-xl text-lg" required [(ngModel)]="this.typeDeclaration.name" />
            <div class="text-red-500" [ngClass]="{ 'block': this.errors['name'], 'invisible': !this.errors['name'] }">
                Name is required
            </div>
        </div>
        <div class="flex flex-col space-y-2">
            <label for="type-import" class="text-xl font-semibold">Imported From<span
                    class="text-red-500">*</span></label>
            <input type="text" name="type-import" id="type-import" placeholder="Enter where to import the type from"
                class="border p-2 rounded-xl text-lg" required [(ngModel)]="this.typeDeclaration.import" />
            <div class="text-red-500"
                [ngClass]="{ 'block': this.errors['import'], 'invisible': !this.errors['import'] }">
                Import Location is required
            </div>
        </div>
        <div class="flex flex-col space-y-2">
            <label for="type-github" class="text-xl font-semibold">GitHub Link</label>
            <input type="text" name="type-github" id="type-github"
                placeholder="Enter the GitHub link to where the type is declared" class="border p-2 rounded-xl text-lg"
                [(ngModel)]="this.typeDeclaration.github" />
        </div>
        <div class="flex flex-col space-y-2">
            <label for="type-description" class="text-xl font-semibold">Type Description</label>
            <textarea name="type-description" placeholder="Enter type description"
                class="border p-2 rounded-xl text-lg h-1/2 h-40" id="type-description"
                [(ngModel)]="this.typeDeclaration.description"></textarea>
        </div>
        <div class="flex flex-col space-y-2">
            <label for="type-description" class="text-xl font-semibold">Declaration<span
                    class="text-red-500">*</span></label>
            <div class="border rounded-sm">
                <div class="border-b p-2">
                    <p>type <span class="font-bold">{{ this.typeDeclaration.name || '(Type Name)' }}</span> =</p>
                </div>
                <div class="flex overflow-y-auto h-64">
                    <div class="w-fit p-2 text-lg min-w-[40px] border-r">
                        <p *ngFor="let char of this.typeDeclaration.declaration.split('\n'); let i = index">{{ i + 1 }}
                        </p>
                    </div>
                    <textarea name="type-description" placeholder="Enter type description"
                        class="text-lg p-2 w-full flex-auto overflow-y-hidden focus:outline-none resize-none block min-h-full h-[auto] text-black"
                        id="type-description" [(ngModel)]="this.typeDeclaration.declaration"
                        (input)="adjustHeight($event.target)">
                    </textarea>
                </div>
            </div>
            <div class="text-red-500"
                [ngClass]="{ 'block': this.errors['declaration'], 'invisible': !this.errors['declaration'] }">
                Type is required
            </div>
        </div>
        <div class="flex items-center flex-col space-y-4">
            <button type="submit"
                class="hover:bg-[#007733] bg-[#009933] text-white text-xl font-semibold rounded-xl p-2 w-1/2" required>
                Create Package
            </button>
            <button *ngIf="!this.newInstance" (click)="this.cancelChanges()"
                class="hover:bg-[#007733] bg-[#009933] text-white text-xl font-semibold rounded-xl p-2 w-1/2">
                Cancel Changes
            </button>
        </div>
    </form>
</div>