<div class="min-h-[80vh] flex flex-col items-center mb-8">
    <div class="flex justify-center w-full border-b-2 grow-0 shrink basis-[auto]">
        <div class="w-9/10 px-4 py-1 max-w-[1796px] flex justify-end items-center">
            <button
                class="border border-black/0 rounded-full hover:border-gray-400 active:bg-white active:border-black active:shadow-[0_0_0_3px] active:shadow-[#0057da40]">
                <p class="text-gray-600 px-2 py-1 font-['Assistant'] text-md font-bold">Add Component</p>
            </button>
            <button
                class="border border-black/0 rounded-full hover:border-gray-400 active:bg-white active:border-black active:shadow-[0_0_0_3px] active:shadow-[#0057da40]">
                <p class="text-gray-600 px-2 py-1 font-['Assistant'] text-md font-bold">Import JSON</p>
            </button>
            <button
                class="border border-black/0 rounded-full hover:border-gray-400 active:bg-white active:border-black active:shadow-[0_0_0_3px] active:shadow-[#0057da40]">
                <p class="text-gray-600 px-2 py-1 font-['Assistant'] text-md font-bold">Export JSON</p>
            </button>
        </div>
    </div>
    <div class="flex h-full w-9/10 px-4 py-1 max-w-[1796px] relative grow shrink basis-[auto] items-stretch">
        <div class="w-1/4 max-h-[80vh] flex justify-end overflow-y-auto sticky top-0 px-2">
            <div class="h-full flex flex-col py-4 space-y-4 w-3/4">
                <div class="space-y-4 px-2">
                    <div>
                        <input type="search" placeholder="JUMP TO"
                            class="border rounded-lg text-xs placeholder:font-bold placeholder:text-gray-600 p-2 w-full" />
                    </div>
                    <div>
                        <div class="font-semibold pb-2">
                            <p>Sort By</p>
                        </div>
                        <div class="flex justify-start space-x-2">
                            <button class="border text-sm px-2 py-1 rounded-lg" [disabled]="method.active"
                                [ngClass]="{'bg-gray-400': method.active, 'hover:bg-gray-300': !method.active }"
                                *ngFor="let method of this.sortMethods">
                                {{ method.name }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="space-y-4">
                    <div *ngFor="let category of this.categories">
                        <div class="font-semibold pb-1 px-2">
                            <p class="overflow-x-hidden text-ellipsis text-nowrap ">{{ category.name }}</p>
                        </div>
                        <div class=" space-x text-base flex w-full items-center">
                            <button *ngFor="let item of category.items" (click)="this.openEditor(category, item)"
                                class="whitespace-nowrap overflow-x-hidden px-2 rounded-lg w-full flex justify-between items-center"
                                [ngClass]="
                                    { 'bg-gray-400': item.editting, 'hover:bg-gray-300': !item.editting }
                                    ">
                                <p class="overflow-x-hidden text-ellipsis w-[80%] text-left">{{ item.name }}</p>
                                <p class="w-[20%]">Edit</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-3/4 p-4">
            <app-package-form (packageCreated)="this.updatePackage($event)" [newInstance]="!this.editting"
                *ngIf="this.activeForm === this.formTypes.Package" [currentPackage]="this.package"
                (cancelUpdates)="this.cancelEdit()" />
            <app-categories-form *ngIf="this.activeForm === this.formTypes.Categories"
                (selectCategory)="this.selectComponent($event)" />
            <app-type-form *ngIf="this.activeForm === this.formTypes.TypeDeclaration"
                (typeCreated)="this.upsertTypeDeclaration($event)" [newInstance]="!this.editting"
                [currentTypeDeclaration]="this.getEditTypeDeclaration()" (cancelUpdates)="this.cancelEdit()" />
        </div>
    </div>