<div class="min-h-[80vh] flex flex-col items-center mb-8">
    <div class="flex justify-center w-full border-b-2 grow-1 shrink-1">
        <div class="w-9/10 px-4 py-1 max-w-[1796px] flex justify-end items-center">
            <button
                class="border border-black/0 rounded-full hover:border-gray-400 active:bg-white active:border-black active:shadow-[0_0_0_3px] active:shadow-[#0057da40]">
                <p class="text-gray-600 px-2 py-1 font-['Assistant'] text-md font-bold">Import JSON</p>
            </button>
        </div>
    </div>
    <div class="flex h-full w-9/10 px-4 py-1 max-w-[1796px] items-center">
        <div class="w-1/4 h-[90%] flex justify-end overflow-y-scroll">
            <div class="h-[20%] flex flex-col py-4 space-y-4 w-3/4">
                <div class="space-y-4">
                    <div>
                        <input type="search" placeholder="JUMP TO"
                            class="border rounded-lg text-2xs placeholder:font-bold placeholder:text-gray-600 p-2 w-full" />
                    </div>
                    <div>
                        <div class="font-semibold pb-2">
                            <p>Sort By</p>
                        </div>
                        <div class="flex justify-start space-x-2">
                            <button class="border text-sm px-2 py-1 rounded-lg hover:bg-gray-300">Types</button>
                            <button class="border text-sm px-2 py-1 rounded-lg hover:bg-gray-300">Tags</button>
                        </div>
                    </div>
                </div>
                <div class="space-y-4">
                    <div>
                        <div class="font-semibold pb-1">
                            <p>Header</p>
                        </div>
                        <div class="space-x text-base">
                            <p class="">Link 1</p>
                            <p class="">Link 2</p>
                            <p class="">Link 3</p>
                            <p class="">Link 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="font-semibold pb-1">
                            <p>Header</p>
                        </div>
                        <div class="space-x text-base">
                            <p class="">Link 1</p>
                            <p class="">Link 2</p>
                            <p class="">Link 3</p>
                            <p class="">Link 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="font-semibold pb-1">
                            <p>Header</p>
                        </div>
                        <div class="space-x text-base">
                            <p class="">Link 1</p>
                            <p class="">Link 2</p>
                            <p class="">Link 3</p>
                            <p class="">Link 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="font-semibold pb-1">
                            <p>Header</p>
                        </div>
                        <div class="space-x text-base">
                            <p class="">Link 1</p>
                            <p class="">Link 2</p>
                            <p class="">Link 3</p>
                            <p class="">Link 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="font-semibold pb-1">
                            <p>Header</p>
                        </div>
                        <div class="space-x text-base">
                            <p class="">Link 1</p>
                            <p class="">Link 2</p>
                            <p class="">Link 3</p>
                            <p class="">Link 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-3/4 h-[90%]">
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
            <p>2</p>
        </div>
    </div>