<div class="h-full flex flex-row flex-wrap">
    <div class="basis-1/2 flex justify-center items-center">
        <button
            class="flex justify-center items-center w-[90%] h-[90%] border-4 duration-100 ease-in hover:border-[#009933] rounded-lg text-xl font-bold hover:text-[#009933]"
            (click)="this.selectCategoryType(this.formTypes.TypeDeclaration)">
            Add a Type Declaration
        </button>
    </div>
    <div class="basis-1/2 flex justify-center items-center">
        <button
            class="flex justify-center items-center w-[90%] h-[90%] border-4 duration-100 ease-in hover:border-[#009933] rounded-lg text-xl font-bold hover:text-[#009933]"
            (click)="this.selectCategoryType(this.formTypes.Variable)">
            Add a Variable
        </button>
    </div>
    <div class="basis-1/2 flex justify-center items-center">
        <button
            class="flex justify-center items-center w-[90%] h-[90%] border-4 duration-100 ease-in hover:border-[#009933] rounded-lg text-xl font-bold hover:text-[#009933]"
            (click)="this.selectCategoryType(this.formTypes.Function)">
            Add a Function
        </button>
    </div>
    <div class="basis-1/2 flex justify-center items-center">
        <button
            class="flex justify-center items-center w-[90%] h-[90%] border-4 duration-100 ease-in hover:border-[#009933] rounded-lg text-xl font-bold hover:text-[#009933]"
            (click)="this.selectCategoryType(this.formTypes.Class)">
            Add a Class
        </button>
    </div>
</div>