<div>
    <div>
        <div class="banner w-full h-[365px] flex justify-center items-center">
            <div class="max-w-[1796px] w-[90%] lg:w-2/3 2xl:w-2/5 space-y-8">
                <p class="text-white text-2xl md:text-3xl xl:text-5xl text-center">
                    The world's most widely used API description standard (one day)
                </p>
                <div class="flex md:justify-between md:flex-row flex-col space-y-6 md:space-y-0">
                    <button
                        class="transition ease-in bg-[#94c73d] hover:bg-[#74a535] rounded-full px-8 py-4 text-lg font-semibold md:text-xl text-white"
                        disabled="true">
                        View Latest Specs
                    </button>
                    <a class="text-center transition ease-in bg-[#94c73d] hover:bg-[#74a535] rounded-full px-8 py-4 text-lg font-semibold md:text-xl text-white block"
                        routerLink="/build">
                        Start Building
                    </a>
                </div>
            </div>
        </div>
        <div class="flex justify-center w-full">
            <div class="w-9/10 px-4 py-2 max-w-[1300px] py-10 md:py-32 flex md:flex-row flex-col">
                <div class="w-full md:w-1/2 space-y-4">
                    <p class="text-3xl md:text-5xl font-semibold">
                        What is Open NPM?
                    </p>
                    <p class="text-2xl md:text-4xl font-medium">
                        The Open NPM Specification provides a formal standard for describing NPM packages.
                    </p>
                    <p class="text-lg md:text-xl font-medium">
                        This allows people to understand how an npm package works, generate client code, create tests,
                        apply
                        design standards, and much, much more.
                    </p>
                </div>
                <div class="w-full md:w-1/2 flex justify-center">
                </div>
            </div>
        </div>
    </div>
</div>